* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1F1F1F;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}

a {
    color: azure;
}

.wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpWrapper, .loginWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); */
}

.signupTitle, .loginTitle, .homeTitle {
    margin-bottom: 16px;
}

.homeTitle {
    font-size: 26px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.formInput {
    width: 300px;
    height: 26px;
}

.formSubmit {
    width: 68px;
    height: 22px;
}

.formPost {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
}

.postInput {
    width: 400px;
    min-height: 48px;
    height: auto;
}

.homeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    margin: 36px 0 0 36px;
}

.postsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
}

.publishedPost {
    width: 100%;
    min-height: 48px;
    height: auto;
    background-color: #fff;
    border-radius: 4px;
    color: black;
    padding: 8px;
}

.username {
    font-weight: 700;
}

.deletePost {
    color: black;
}

.sessionType {
    font-weight: 700;
    margin-bottom: 24px;
}

